#widgetmap{
    display: block;
    border-radius: 10px;
    width: 200px;
    height: 220px;
    background:rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(0, 0, 0, 1) 0%, rgb(77, 6, 65));
    color: white;
}